body{
    margin: 0;
    padding: 0;
    
}
.App{
   
    width: 100%;
    box-sizing: border-box; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.todo-container {
    width: 100%; /* Ekranın %90'ını kaplasın */
    max-width: 1000px; /* Maksimum genişlik 800px */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px; /* İçerik çevresine boşluk */
    box-sizing: border-box; /* Padding genişlik hesaplamasına dahil */

    margin: 20px auto; /* Ortala ve yukarı-aşağı boşluk bırak */
}

